# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE ve proje dosyaları
.idea/
*.iml

# Derlenmiş dosyalar ve derleme çıktıları
target/
*.class

# Çeşitli
*.log

